.container {
	display: flex;
	flex-direction: row;
	width: 15rem;
	justify-content: space-evenly;
}
.ccBtn {
	padding: 0.5rem;
	background-color: var(--fg0);
	border: 2px solid var(--bg0);
	box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 0.5rem;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	cursor: pointer;
	transition: all 0.2s ease-in;
}
.ccBtn:hover:not(:disabled) {
	background-color: var(--fg1);
}
.ccBtn:active:not(:disabled) {
	background-color: var(--fg3);
	box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	position: relative;
	transform: scale(0.9, 0.9);
	transition: transform 0.1s;
}
.ccBtn:disabled,
.ccBtn[disabled] {
	cursor: default;
	border: 2px solid var(--gray0);
	background-color: var(--gray2);
	color: var(--bg3);
}
